{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="videos">
        <main>
            <section id="room-name-wrapper">
                <p>Room Name: <span id="room-name"></span></p>
            </section>

            <section id="video-streams"></section>

            <section id="controls-wrapper">
                <div class="icon-wrapper">
                    <img class="control-icon" id="mic-btn" src="{% static 'images/microphone.svg' %}" />
                </div>
                <div class="icon-wrapper">
                    <img class="control-icon" id="camera-btn" src="{% static 'images/video.svg' %}" />
                </div>
                <div class="icon-wrapper">
                    <img class="control-icon" id="leave-btn" src="{% static 'images/leave.svg' %}" />
                </div>
            </section>
        </main>
    </div>

    <div class="transcriptions">
        <section class="transcription-section" id="transcription-wrapper">
            <h3>Live Transcription:</h3>
            <p id="transcription-text">Waiting for speech...</p>
            <button id="start-transcription-btn">Start Transcription</button>
        </section>
        
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<script>
    // Check if annyang is available
    if (annyang) {
        let startTranscription = () => {
            document.getElementById('transcription-text').innerText = 'Listening...';
            annyang.start();
            console.log('Speech recognition started');
        };

        let stopTranscription = () => {
            annyang.abort();
            console.log('Speech recognition stopped');
        };

        let showTranscription = (spokenText) => {
            document.getElementById('transcription-text').innerText = spokenText;
        };

        // Set up the callback for when speech is recognized
        annyang.addCallback('result', (phrases) => {
            showTranscription(phrases[0]);
        });

        // Event listener for the "Start Transcription" button
        document.getElementById('start-transcription-btn').addEventListener('click', startTranscription);
    } else {
        console.error('Speech recognition is not supported in this browser.');
    }

</script>

<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.8.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}"></script>
{% endblock content %}